# <%= name %> plugin for Jenkins

TODO: Purpose and awesomeness when finished.

## Development

For development and to see this plugin in a test Jenkins server:

```
$ bundle install
$ jpi server
```

## Contributing

1. Fork it
2. Create your feature branch (`git checkout -b my-new-feature`)
3. Commit your changes (`git commit -am 'Added some feature'`)
4. Push to the branch (`git push origin my-new-feature`)
5. Create new Pull Request
